body {
    font-size: 15pt;
}

section {
  background: #7F2121;
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbox {
  -webkit-backdrop-filter: blur(5px);
  border-left: 4px solid #FF0000;
  border-right: 4px solid #FF0000;
  border-top: 4px solid #AA0000;
  border-bottom: 4px solid #AA0000;
  border-radius: 50px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.searchbox input {
  width: 100%;
  color: white;
  border-radius: 50px;
  border: none;
  background: transparent;
}

* {
  margin: 0;
  padding: 0;
}